{% extends "massasje/base.html" %}
{% block nav-bestilling %}
<a href={% url 'hjemmeside:bestilling' %} class="nav-link nav-size nav-line" style="color:black;">Bestill time</a>
{% endblock %}
{% load static %}
{% load bootstrap4 %}


{% block content %}


<br><br><br>
<div class="container-fluid"> <!-- Start bestill time -->
  <iframe src="https://bestill.timma.no/bedrehverdag?fbclid=IwAR1-2qky-A6EY4biCRBVfnUBmAlhgdC-nQhmbee3h9suCT2BsXHt3WWJoIQ" width="100%" height="1300px" style="border:0;">
  </iframe>

</div>


{% endblock %}
