{% extends "massasje/base.html" %}
{% block nav-gavekort %}
<a href={% url 'hjemmeside:gavekort' %} class="nav-link nav-size nav-line" style="color:black;">Kjøp gavekort</a>
{% endblock %}
{% load static %}
{% load bootstrap4 %}


{% block content %}


<br><br><br>
<div class="container-fluid"> <!-- Start bestill time -->
  <iframe src="https://bestill.timma.no/giftcard/bedrehverdag?fbclid=IwAR1E9XZ_-P1xvPmZ7Okl0PqXYsb2ZSnrfOPVCf6FeKyubgLvnCOOR7bplS4" width="100%" height="1300" style="border:0;">
  </iframe>

</div>


{% endblock %}
