{% extends "massasje/base.html" %}
{% block nav-behandling %}
  <a href={% url 'home' %} class="nav-link nav-size nav-line" style="color:black;">Behandlinger</a>
{% endblock %}
{% load static %}


{% block content %}

<br>
<br>

  <div class="container">
    <div class="jumbotron" style="background-color: #fbf1e9!important;">
      <h1 class="product-header text-center"> MINE BEHANDLINGER</h1>
      <br>
        <p class="lead text-center" style="font-size: 1rem;">Hva slags
          behandling man trenger vil variere fra person til person, og dag til
          dag. Hos Bedre Hverdag Nygren kan du også booke massasje for barn samt
          gravidemassasje. Jeg tar utgangspunkt i to typer behandlinger.</p>
        <p class="lead text-center" style="font-size: 1rem;"><b>Utpust / Velværemassasje</b></p>
        <p class="lead text-center" style="font-size: 1rem;">Behandlingen for deg
          som søker velbehag og nytelse, som trenger en
          pust i bakken, og som ønsker deg myk massasje med et lettere trykk.
          Her vil du kjenne på en massasje som gir trygghet og varme.</p>
        <p class="lead text-center" style="font-size: 1rem;"><b>Innpust / Klassisk massasje / Svensk massasje</b></p>
        <p class="lead text-center" style="font-size: 1rem;">
          Behandlingen med et hardere trykk, som lar meg jobbe med triggerpunkt
          og som raskere kan være med på å gi resultater.
          Sliter du med muskelknuter er det denne du velger</p>
      </div>

    <br><br>
    <div class="row">
      <div class="col-md text-left">
        <h1 class="product-header">Utpust / Velværemassasje</h1>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-sm text-left">
        <p class="lead">Kom i kontakt med deg selv i denne <br> beroligende behandlingen.</p>
        <p>I en behandling som skaper ro for alle sansene vil vi bruke faste,
          myke grep og stryketeknikker, så du kan flyte gjennom behandlingen.
          Uansett hvordan hverdagen ser ut, er dette en tid som byr på ro og
          trygghet, tid til å samle tankene, en mulighet til å puste lettet ut.
          Gjennom økt blodsirkulasjon senkes stressnivået, øker velværefølelsen
          og immunforsvaret styrkes. </p>
      </div>
      <div class="col-sm d-flex justify-content-center my-auto">
        <div class="h-50 w-50">
        <img src="{% static "img/relax9.jpg" %}" class="img-fluid rounded" alt="Responsive image">
        </div>
      </div>
    </div><!-- end row -->

    <br>
    <br>

      <div class="row">
        <div class="col-sm d-flex justify-content-center my-auto">
          <div class="h-50 w-75">
          <img src="{% static "img/relax7.jpg" %}" class="img-fluid rounded" alt="Responsive image">
          </div>
        </div>

        <div class="col-sm text-center">
          <br>
          <br>
          <p class="lead">30 MINUTTER <img src="https://www.freeiconspng.com/uploads/line-png-16.png" width="25" alt="Line PNG Picture"/> 650 KR</p>
          <br>
          <p class="lead">60 MINUTTER <img src="https://www.freeiconspng.com/uploads/line-png-16.png" width="25" alt="Line PNG Picture"/> 1150 KR</p>
          <br>
          <p class="lead">90 MINUTTER <img src="https://www.freeiconspng.com/uploads/line-png-16.png" width="25" alt="Line PNG Picture"/> 1650 KR</p>
          <br>
          <p class="lead">120 MINUTTER<img src="https://www.freeiconspng.com/uploads/line-png-16.png" width="25" alt="Line PNG Picture"/> 2250 KR</p>
        </div>
      </div><!-- end row -->

      <br>
      <br>
      <br>
      <div class="row">
        <div class="col-md text-left">
          <h1 class="product-header">Innpust / Klassisk massasje / Svensk massasje</h1>
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col-sm text-left">
          <p class="lead">La kroppen få ny giv i denne <br> stimulerende behandlingen.</p>
          <p>For deg med jobb som sliter på nakke og skuldre,
            synes kroppen stadig verker, eller ofte opplever hodepine, er dette
            en behandling som stimulerer til en lettere og oppfrisket kropp.
            Trykket er behagelig, men vi jobber fast og bestemt med å løse opp
            knuter og spente muskler, så du får ny giv. Bruk av trigger- og
            drenasjeteknikk kan til og med forkorte restitusjonstiden etter
            hard fysisk aktivitet</p>
        </div>
        <div class="col-sm d-flex justify-content-center my-auto">
          <div class="h-50 w-50">
          <img src="{% static "img/relax3.jpg" %}" class="img-fluid rounded" alt="Responsive image">
        </div>
        </div>
      </div><!-- end row -->

    <br>
    <br>
    <br>

    <div class="jumbotron" style="background-color: #fff6ef!important">
      <h1 class="product-header text-center"> KONTAKT MEG GJERNE </h1>
      <br>
        <p class="lead size-adjust-p text-center">Jeg tilpasser hver time til
          dine unike behov. Du kan ha et behov om velvære i morgen, og om tre
          uker igjen trenger du kanskje en dypere massasje. Fortell meg hva du
          ønsker å få ut av massasjetimen. For spørsmål, mer informasjon eller
          timebestilling, send mail til
          <a href="mailto:bedrehverdagnygren@gmail.com" style="color:black;">bedrehverdagnygren@gmail.com</a></p>
      </div>

  </div><!--end container-->

{% endblock %}
